[user]
	email = jamie.m.maddock@gmail.com
	name = jmasaki24
[core]
  autocrlf = true
[alias]
  s = status
  p = pull
  f = fetch -p
  d = diff -w
  r = rebase -i
  c = !git add -A && git commit
  co = checkout
  cob = checkout -b
  com = checkout master
  cp = cherry-pick
  b = branch
  lol = log --graph --oneline --decorate --color --all

